@import "tailwindcss";

@theme {
  --color-mainBack: #f9fafb;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  @apply bg-gray-200 rounded-lg;
}

progress::-webkit-progress-value {
  background-color: currentColor;
  @apply rounded-full;
  transition: width 0.3s ease;
}

progress::-moz-progress-bar {
  background-color: currentColor;
  @apply rounded-full;
  transition: width 0.3s ease;
}
